.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  h2,
  p {
    width: 70%;
  }
  h2 {
    margin-top: 10%;
    font-size: 60px;
  }
  p {
    margin-top: 5%;
  }
  .arrowSvg {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 70px;
    top: 120px;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      scale: 1.05;
    }
  }
}
