.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  button {
    background-color: black;
    color: gray;
    border: none;
    font-size: 100px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.02);
      color: white;
    }
  }
  strong {
    font-size: 160px;
  }
}
